*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 100%;
    margin: 0;
    padding: 0;
}
.title{
    font-size: 30px;
    font-weight: bolder;
    display: inline;
}
.accountBtn{
    float: right;
    margin: 5px 0;
}
.goBack{
    float: left;
    margin: 20px 0;
}
.textBox{
    border: 1px solid red;
    padding: 20px;
    width: 600px;
    float: right;
}
.ml-5{
    margin-left: 5px;
}
.ml-10{
    margin-left: 10px;
}